<div>
    <app-page-header [heading]="formulario?.name" [icon]="'fa-users'"></app-page-header>
    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            <div class="card mb-12">
                <div class="card-header">
                    {{formulario?.name}}
                    <!--<a [routerLink]="['/formularios']" class="btn btn-sm  btn-primary pull-right">-->
                    <!--Volver a lista formularios-->
                    <!--</a>-->
                </div>
                <div class="card-body table-responsive">
                    <formio [form]="formulario?.form_components" (submit)="onSubmit($event)"></formio>

                </div>
                <div>
                    <p-table [columns]="cols" [value]="cars">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th *ngFor="let col of columns">
                                    {{col.header}}
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr>
                                <td *ngFor="let col of columns">
                                    {{rowData[col.field]}}
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</div>

