<div [@routerTransition]>
    <app-page-header [heading]="'Clientes'" [icon]="'fa-users'"></app-page-header>
    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            <div class="card mb-12">
                <div class="card-header">
                    Clientes
                    <button class="btn btn-sm  btn-primary pull-right" (click)="onNewClient(content)">Nuevo cliente
                    </button>
                </div>
                <div class="card-body table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Telefono</th>
                            <th>Telefono 2</th>
                            <th>Email</th>
                            <th>Domicilio</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody *ngIf="clients?.length>0">
                        <tr *ngFor="let client of clients;let i=index">
                            <th scope="row">{{i+1}}</th>
                            <td>{{client.name}}</td>
                            <td>{{client.lastname}}</td>
                            <td>{{client.phone}}</td>
                            <td>{{client.phone2}}</td>
                            <td>{{client.email}}</td>
                            <td>{{client.address}}</td>
                            <td>
                                <button class="btn btn-danger" (click)="delete(client)"> Borrar</button>
                            </td>
                            <td>
                                <button class="btn btn-primary" (click)="onEdit(client,content)"> Editar</button>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Nuevo Cliente</h4>
        <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-new-client-form [client]="clientRequest" (onSave)="onSave($event)"></app-new-client-form>
    </div>
</ng-template>
